<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static 'index.css' %}" rel="stylesheet" />
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    {% block script %}
    {% endblock script %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Database Server Dashboard </title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/"><b>Database Server</b></a>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link {% if 'folders' in path %} text-primary {% endif %}"
                    href="{% url 'folders' %}">
                    <b>Folders</b>
                </a>
            </div>
        </div>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link {% if 'databases' in path %} text-primary {% endif %}"
                    href="{% url 'databases' %}">
                    <b>Databases</b>
                </a>
            </div>
        </div>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link {% if 'tables' in path %} text-primary {% endif %}"
                    href="{% url 'tables' %}">
                    <b>Tables</b>
                </a>
            </div>
        </div>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link {% if 'crud' in path %} text-primary {% endif %} px-3"
                    href="{% url 'crud' %}">
                    <b>CRUD</b>
                </a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <main class="col-md-12 ms-sm-auto col-lg-12 px-3">
                {% block main %}
                {% endblock main %}
            </main>
        </div>
    </div>


    {% block script_end %}
    {% endblock script_end %}
</body>

</html>
